<a href="https://colab.research.google.com/github/Hion-cy/ClassFiles/blob/main/Practica_6_AL263158.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Practica 6

* Matricula AL263158
* Programación para analítica descriptiva y predictiva

Instrucciones: Carga el archivo titanic.csv en la carpeta correspondiente de Google drive para realizar los siguientes ejercicios

In [66]:
import pandas as pd
import numpy as np
df=pd.read_csv('drive/MyDrive/ClassFiles/titanic.csv')
df=pd.DataFrame(df)
print(df)

     Survived  Pclass                                               Name  \
0           0       3                             Mr. Owen Harris Braund
1           1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2           1       3                              Miss. Laina Heikkinen
3           1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4           0       3                            Mr. William Henry Allen
..        ...     ...                                                ...
882         0       2                               Rev. Juozas Montvila
883         1       1                        Miss. Margaret Edith Graham
884         0       3                     Miss. Catherine Helen Johnston
885         1       1                               Mr. Karl Howell Behr
886         0       3                                 Mr. Patrick Dooley

        Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0      male  22.0                        1                        0   7.2500
1    female  38.0                        1                        0  71.2833
2    female  26.0                        0                        0   7.9250
3    female  35.0                        1                        0  53.1000
4      male  35.0                        0                        0   8.0500
..      ...   ...                      ...                      ...      ...
882    male  27.0                        0                        0  13.0000
883  female  19.0                        0                        0  30.0000
884  female   7.0                        1                        2  23.4500
885    male  26.0                        0                        0  30.0000
886    male  32.0                        0                        0   7.7500

[887 rows x 8 columns]

##Ejercicio 1
***Ejercicio 1: Análisis de la distribución de supervivencia por combinación de sexo y clase del pasajero.***

Calcula la proporción de supervivencia para cada combinación de 'Sex' y 'Pclass'.
 Identifica qué combinación tuvo la tasa de supervivencia más alta.
Identifica qué combinación tuvo la tasa de supervivencia más baja.

In [31]:
df_super=df.groupby(['Sex','Pclass'])['Survived'].mean()
print(df_super)

min_idx = df_super.idxmin()
min_val = df_super.loc[min_idx]
print(f"Sexo: {min_idx[0]}, Clase: {min_idx[1]}, Promedio de supervivencia: {min_val:.2f}")

Sex     Pclass
female  1         0.968085
        2         0.921053
        3         0.500000
male    1         0.368852
        2         0.157407
        3         0.137026
Name: Survived, dtype: float64
Sexo: male, Clase: 3, Promedio de supervivencia: 0.14

***Ejercicio 2: Identificación de familias grandes a bordo.***

Crea una nueva columna 'FamilySize' sumando las columnas 'SibSp' y 'Parch'.
Considera como "familia grande" a aquellas donde 'FamilySize' es mayor a 3.
Calcula el número de pasajeros en familias grandes.
Calcula la proporción de supervivencia entre los pasajeros que pertenecen a familias grandes.

In [53]:
df['FamilySize']=df['Siblings/Spouses Aboard']+df['Parents/Children Aboard']
f_grande= df[df['FamilySize']>3]
print(f'El numero de pasajeros de familias grandes es: {len(f_grande)} de un total de {len(df)}')
print(f'La proporcion de supervivencia es: {f_grande["Survived"].mean():.2f}')

El numero de pasajeros de familias grandes es: 62 de un total de 887
La proporcion de supervivenciaes: 0.16

***Ejercicio 3: Segmentación por grupos de edad.***

Clasifica a los pasajeros en las siguientes categorías de edad(tip puede resultar mas sencillo realizarlo con una función)

Menor de Edad

Mayor de Edad

In [65]:
def edad_legal(edad):
  if edad<18:
    return 'Menor de Edad'
  else:
    return 'Mayor de Edad'

df['legal_age']=df['Age'].apply(edad_legal)
print(df[['Name','Age','legal_age']])

                                                  Name   Age      legal_age
0                               Mr. Owen Harris Braund  22.0  Mayor de Edad
1    Mrs. John Bradley (Florence Briggs Thayer) Cum...  38.0  Mayor de Edad
2                                Miss. Laina Heikkinen  26.0  Mayor de Edad
3          Mrs. Jacques Heath (Lily May Peel) Futrelle  35.0  Mayor de Edad
4                              Mr. William Henry Allen  35.0  Mayor de Edad
..                                                 ...   ...            ...
882                               Rev. Juozas Montvila  27.0  Mayor de Edad
883                        Miss. Margaret Edith Graham  19.0  Mayor de Edad
884                     Miss. Catherine Helen Johnston   7.0  Menor de Edad
885                               Mr. Karl Howell Behr  26.0  Mayor de Edad
886                                 Mr. Patrick Dooley  32.0  Mayor de Edad

[887 rows x 3 columns]

***Ejercicio 4: Comparación entre promedios calculados manualmente y con Pandas***

Utiliza NumPy para calcular el promedio de las columnas 'Age' y 'Fare', ignorando valores nulos.
Compara estos valores con los promedios obtenidos utilizando los métodos nativos de Pandas.
Verifica que los resultados sean consistentes.

In [78]:
npage=np.mean(df['Age'].dropna())
pdage=df['Age'].mean()
print(f'El promedio de la columna Age en numpy es: {npage:.4f} y el promedio en pandas es: {pdage:.4f}')
if npage==pdage:
  print('Son iguales')
else:
  print('No son iguales')

npfare=np.mean(df['Fare'].dropna())
pdfare=df['Fare'].mean()
print(f'El promedio de la columna Fare en numpy es: {npfare:.4f} y el promedio en pandas es: {pdfare:.4f}')
if npfare==pdfare:
  print('Son iguales')
else:
  print('No son iguales')

El promedio de la columna Age en numpy es: 29.4714 y el promedio en pandas es: 29.4714
Son iguales
El promedio de la columna Fare en numpy es: 32.3054 y el promedio en pandas es: 32.3054
Son iguales

***Ejercicio 5. Creación de intervalos de clase usando NumPy y análisis con Pandas***

Divide la columna 'Fare' en 5 intervalos equidistantes utilizando la función numpy.linspace, el estudiante deberá investigar la operación de esta función en python.
Crea una nueva columna en el DataFrame que asigne a cada pasajero el intervalo correspondiente de su tarifa.
Calcula el número de pasajeros en cada intervalo utilizando Pandas y la proporción de supervivientes por intervalo.

In [95]:

#Bins son los intervalos
bins=np.linspace(min(df['Fare']),max(df['Fare']),6) # Se utiliza 6 por que toma en cuenta el 0 como intervalo
"""for a in bins:
  print(a)"""
df['FareInterval'] = pd.cut(df['Fare'], bins=bins)
#print(df)

conteo_por_intervalo = df['FareInterval'].value_counts().sort_index()
print("Número de pasajeros por intervalo:\n", conteo_por_intervalo)
prointervalo_super = df.groupby('FareInterval', observed=True)['Survived'].mean().round(2)
print(f"\nProporción de supervivientes por intervalo:\n{prointervalo_super}")

Número de pasajeros por intervalo:
 FareInterval
(0.0, 102.466]        819
(102.466, 204.932]     33
(204.932, 307.398]     17
(307.398, 409.863]      0
(409.863, 512.329]      3
Name: count, dtype: int64

Proporción de supervivientes por intervalo:
FareInterval
(0.0, 102.466]        0.37
(102.466, 204.932]    0.76
(204.932, 307.398]    0.65
(409.863, 512.329]    1.00
Name: Survived, dtype: float64